* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
pre{
    color: #000;
}

.container {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

header {
    height: 50px;
    background: #22313F;
}

.admin-category {
    overflow: hidden;
    border-radius: 5px;
    margin-top: 40px;
    background: #22313F;
}

body {
    color: rgb(200, 247, 197);
    background: rgb(200, 247, 197);
    font-family: Roboto, Helvetica, sans-serif;
}

.addProduct button {
    cursor: pointer;
    position: relative;
    background: rgb(25, 181, 254);
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    line-height: 30px;
    -webkit-box-shadow: 2px 2px 0 #000;
    box-shadow: 2px 2px 0 #000;
    padding: 0 20px;
}

.addProduct a button:focus {
    top: 2px;
    left: 2px;
    -webkit-transition: 0.5ss all ease-in;
    transition: 0.5ss all ease-in;
}

.addProduct a button {
    position: relative;
    top: 0;
    left: 0;
    -webkit-transition: 0.5ss all ease-in;
    transition: 0.5ss all ease-in;
}

.admin-category h1 {
    background: rgba(0, 0, 0, 0.5);
    font-size: 34px;
    font-weight: 700;
    padding: 10px 20px;
    font-family: Helvetica;
    color: rgb(54, 215, 183);
    text-shadow: 2px 2px 0 #000;
}

.content-wrapper {
    padding: 40px 20px;
}

.content-wrapper form button.btn:focus {
    top: 2px;
    left: 2px;
}

.content-wrapper p {
    display: block;
    float: left;
    padding: 0 20px;
    width: 50%;
    text-align: center;
}

.content-wrapper p input {
    display: inline-block;
}

.admin-category h1 a {
    float: right;
}

.content-wrapper form button.btn {
    display: block;
    cursor: pointer;
    font-weight: 900;
    position: relative;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow: 2px 2px 5px #000;
    font-size: 20px;
    border: none;
    background: rgb(200, 247, 197);
    color: #22313F;
    border-radius: 5px;
    height: 30px;
    max-width: 350px;
    width: 100%;
    margin-top: 25px;
    padding: 0px;
    margin-left: 20px;     
}

.content-wrapper form input,
.content-wrapper form select,
.content-wrapper form textarea {
    margin-bottom: 20px;
    height: 30px;
    resize: none;
    border: none;
    max-width: 350px;
    width: 100%;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    color: #333;
    font-size: 18px;
    margin-top: 5px;
}

.content-wrapper form input[type="radio"] {
    width: auto;
}

.content-wrapper form textarea {
    height: 400px;
}

.product_list table {
    font-size: 14px;
    font-weight: 400;
    margin-top: 20px;
}

.product_list table tr:nth-child(odd) {
    background: rgba(0, 0, 0, 0.3);
}

.product_list table tr td a:hover {
    right: -4px;
    -webkit-transition: 0.4s right ease;
    transition: 0.4s right ease;
}

.product_list table tr td a {
    position: relative;
    color: #333;
    text-transform: capitalize;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    -webkit-transition: 0.4s right ease;
    transition: 0.4s right ease;
    right: 0;
}

.product_list table tr td a:last-child {
    margin-bottom: 0;
    color: red;
}

.product_list table tr td,
.product_list table tr th {
    padding: 0 10px;
}

/*.product_list table tr td:nth-child(6)*/
.opcje {
    background: rgba(248, 148, 6, 1);
}

.product_list table tr td:first-child,
.product_list table tr td:nth-child(3),
.product_list table tr td:nth-child(4),
.product_list table tr td:nth-child(5) {
    text-align: center;
}

.product_list table tr:first-child {
    background: #333;
}

.product_list table,
.product_list table td,
.product_list table th {
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.nav nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
}

.nav ul {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.nav ul li {
    margin-right: 10px;
    line-height: 50px;
    display: inline-block;
    float: left;
}

.nav ul li:last-child {
    margin-right: 0;
}

.nav ul li a {
    padding: 0 10px;
    font-size: 18px;
    color: rgb(200, 247, 197);
    background: transparent;
    height: 100%;
    display: block;
    -webkit-transition: 0.4s font-size ease, 0.3s background ease-in;
    transition: 0.4s font-size ease, 0.3s background ease-in;
}

.nav ul li:hover a,.nav ul li.active a {
    background: rgba(0, 0, 0, 0.4);
    font-size: 19px;
    -webkit-transition: 0.4s font-size ease, 0.3s background ease-in;
    transition: 0.4s font-size ease, 0.3s background ease-in;
}
.one_column p{
    text-align: left;
    width: 100%;
}