.contact_form input[type='text'], .contact_form input[type='email'],
.contact_form input[type='password'],
.contact_form textarea
{
	padding: 10px 15px;
	border: 2px solid #000;
	width: 100%;
	max-width: 30vw;
	min-width: 300px;
}
.contact_form input[type='submit']
{
	width: 200px;
	background-color: #000;
	color: #fff;
	border: 0;
	height: 50px;
	margin-bottom: 30px;
	font-size: 20px;
}
.contact_inf h3
{
	margin-top: 50px;
}
.contact_address, .contact_email
{
	margin-bottom: 15px;
}
.map iframe
{
	width: 40vw;
	max-width: 800px;
	height: 300px;
}
.exrate{
	/*border: 1px solid #ccc; */
	margin-right: 30px;
}
.exrate table td,
.exrate table th
{
	padding: 10px;
	border: 1px solid #ccc;
}
.ex_rat_cont
{
	display: flex;
	/*justify-content: space-around;*/
}
.other_curr h3{
	margin-top: 0px;
}
.other_curr select{
	width: 72px;
    height: 25px;
    vertical-align: top;
}
.other_curr input[type='submit']
{
	width: 100px;
	background-color: #000;
	color: #fff;
	border: 0;
	height: 25px;
	font-size: 17px;

}
.navbar-icons>li, .navbar-search>li{
	position: relative;
}
.awe-hidden-text
{
    display: block;
    font-size: 10px;
    height: 10px;
    line-height: 10px;
    position: absolute;
    top: 50px;
    left: 0px;	
    text-align: center;
	width: 100%;
}
.page_dev{
	margin: 100px auto;
}